*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display:grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 7vh 88vh 1fr;
    grid-template-areas: 
    "header header"
    "section aside"
    "footer footer"
    ;

}

.container-header{
    grid-area: header;
    background-color:#ECEFF1;
}
.container-aside{
    grid-area: aside;  
    background-color: #000F26;
    display: flex;
    align-items: center;
    justify-content: center;


}
.container-section{
    grid-area: section;  
    position: relative;  
    
}
.container-footer{
    grid-area: footer;
    background-color:#ECEFF1;
}



.content-header{   
    color:#000F26;
    text-align: center;
    padding-top: 5px;

}
.content-footer{
    color:#000F26;
    text-align: center;
}

.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    
    width: 65%;


    border: 1px solid white;
    border-radius: 8px;
    padding: 15px;
}
.input{
    display:flex;
    flex-direction: column;
    margin:5px;
    color:white;
}
.input-radio{
    display:flex;
    margin:3px;
    color:white;     
}
.input-radio .radio{
    margin:0 4px;
}

.input input{
    border-radius: 5px;
    width:110%;    

    background-color: #ECEFF1;
    height: 25px;
}
.btn{
    border-radius: 7px;
    padding: 7px;
}

.text-form{
    color:white;
    font-size: 180%;
}

/* tabela */     


.table{
    border-spacing: 0;
    position: absolute;
    border: 1px solid black;
    border-radius:5px;
    

    top: 10%;
    right: 50%;
    transform: translateX(50%);
    box-shadow: 2px 4px 6px #000F26;
    
}

th{
    border: 2px solid #000F26;    
    padding:5px 25px;
    color:white;
    background-color: #000F26;

    
}
td{
    border: 2px solid #000F26;    
    padding:8px;
    text-align: center;    
    
}